.ocard {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 300px;
  border-radius: 20px;
  margin-top:30px;
}

.ocard:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
}
/* Member card styling (about us) */
.mcard {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 300px;
  border-radius: 20px;
  margin-top:30px;
}
.mcard:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
}
/* Homepage Cards */
.card {
  box-shadow: 0 20px 40px 0 rgba(255,0,0,0.9);
  transition: 0.3s;
  border-radius: 20px;
  width:90%;
  margin:auto;
}
.widecard{
  box-shadow: 0 20px 40px 0 rgba(255,0,0,0.9);
  transition: 0.3s;
  border-radius: 20px;
  width:400px;
  padding:50px;
  margin:auto;
  height:200px
}
#widecard2{
  box-shadow: 0 20px 40px 0 rgba(255,0,0,0.9);
  transition: 0.3s;
  border-radius: 20px;
  width:400px;
  padding:50px;
  margin:auto;
  height:100px
}

.card:hover {
  box-shadow: 0 64px 128px 0 rgba(255,0,0,1);
}
.widecard:hover {
  box-shadow: 0 64px 128px 0 rgba(255,0,0,1);
}
#widecard2:hover {
  box-shadow: 0 64px 128px 0 rgba(255,0,0,1);
}
/* Curvature for all cards */
.profilepics {
  width:300px;
  height:auto;
  border-radius: 20px 20px 0 0;
}
.container {
  padding: 2px 16px;
}

.caption{
font-size: 14px;
}
.home{
	margin: 0;
  font-size: 28px;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: black;
}
#amcsquare{
  width:150px;
  height:auto;
  padding: 20px;
vertical-align: text-top;
}
#amcp{
  color:white;
}
#Dellgif{
  width: 50%;
  margin-top:1%;
  border-radius: 20px 20px 20px 20px;
}
#firstheading{
  margin-top: 5%;
}
body, html {
  height: 100%;
}

#dellparallax {
  /* The image used */
  background-image: url('DellRecording.gif');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#TIparallax {
  /* The image used */
  background-image: url('TIrecording.gif');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;opacity: 0.9; filter: alpha(opacity=50);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ff0000;
  color: black;
}

#navbar a.active {
  background-color: #ff0000;
  color: white;
	z-index:1000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.challenges {
  width:100%;
    display: inline; /* Or inline-block */
}
#challenges{
width:90%;
margin-left: auto;
  margin-right: auto;
}
a{
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}

h1 {text-align: center; color: #FFFFFF;}
h2 {text-align: center; color: #FFFFFF;}
h4 {font-size: 24px;}
#ourteam{
  color:black;
  font-size:50px;
  text-align: center;
}
#githubhead{
  color: #FFFFFF;
  text-align: left;
  margin-top: 30px;
  font-size: 60px;
  font-weight:bold;
}
#topaboutus{
  margin-top:80px;
}
.dellheading{
  color: #FFFFFF;
  opacity:0.8;
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
  font-weight:bold;
}

#TI{
  margin-top:5%;
  background-color: red; /* For browsers that do not support gradients */
 background-image: linear-gradient(to bottom right, red, orange);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
  margin:auto;
  padding:350px;
}
