.ocard {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 50%;
  border-radius: 20px;
}

.ocard:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
}
/* Member card styling (about us) */
.mcard {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 70%;
  border-radius: 20px;
}
.mcard:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,1);
}
/* Homepage Cards */
.card {
  box-shadow: 0 20px 40px 0 rgba(255,0,0,0.9);
  transition: 0.3s;
  width: 70%;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 64px 128px 0 rgba(255,0,0,1);
}
/* Curvature for all cards */
img {
  border-radius: 20px 20px 0 0;
}

.container {
  padding: 2px 16px;
}

.caption{
font-size: 14px;
}
.home{
	margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000
}
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;opacity: 0.9; filter: alpha(opacity=50);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ff0000;
  color: black;
}

#navbar a.active {
  background-color: #ff0000;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.challenges {
    display: inline; /* Or inline-block */
}
#challenges{
margin-left: auto;
  margin-right: auto;
}
a{
  color: white; 
  text-decoration: none;
}
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}
h1 {text-align: center; color: #FFFFFF;}
h2 {text-align: center; color: #FFFFFF;}
h4 {font-size: 24px;}
